#firstP {
/* when add display:inline, the subsequent element in html, i.e, the input, also gets inline */
	font-size: 30px;
	line-height: 150%;
	text-indent: 50px;/* this creates the 2 spaces at the beginning of p */
}

#story {
	font-size: 30px;
	color: rgb(100, 0, 100);/*no need to say font-color; did not work if I stack multiple # */
}
#after-story {
	font-size: 30px;
	color: rgb(100, 0, 100);/*no need to say font-color */
}
#story-display{
	font-size: 30px;
	color: rgb(100, 0, 100);/*no need to say font-color */
}
.background-pic {
	background-image: url("../images/heaven.png");
}